/classes/
.classpath
.project
test/data
web-app/gwt
*.iws
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/target-eclipse/
c.tld
fmt.tld
*.zip
*.iml
target/
.settings/
web-app/WEB-INF
.gradle/
build/
/out

# IntelliJ IDEA files below
.idea/
/bin/
